.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}

.auth-card {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.auth-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #111827;
}

.auth-subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 24px;
}

.auth-btn {
    width: 100%;
    background: linear-gradient(45deg, #c41e3a, #167687);
    color: #fff;
    padding: 14px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 12px;
    transition: background .3s ease;
}

.auth-btn:hover {
  background: #960505;
}

.auth-switch {
  margin-top: 20px;
  text-align: center;
  color: #6b7280;
}

.auth-switch span {
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.password-toggle {
  position: absolute;
  right: 14px;
  top: 12px;
  color: #9ca3af;
}
