.HOME-dsk {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 4025px;
  position: relative;
}

.HOME-dsk .sort-down {
  position: absolute;
  top: 480px;
  left: 322px;
  width: 37px;
  height: 21px;
}

.HOME-dsk .closeup-shot-machine {
  position: absolute;
  top: 106px;
  left: 0;
  width: 1440px;
  height: 674px;
  aspect-ratio: 2.14;
}

.HOME-dsk .rectangle {
  top: 1px;
  width: 1440px;
  height: 782px;
  position: absolute;
  left: 0;
}

.HOME-dsk .img {
  top: 655px;
  width: 1440px;
  height: 186px;
  position: absolute;
  left: 0;
}

.HOME-dsk .group {
  position: absolute;
  top: 360px;
  left: 59px;
  width: 737px;
  height: 262px;
}

.HOME-dsk .div {
  position: absolute;
  top: 370px;
  left: 865px;
  width: 501px;
  height: 237px;
  display: flex;
  flex-direction: column;
}

.HOME-dsk .group-2 {
  width: 497.61px;
  height: 51px;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
}

.HOME-dsk .group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 165px;
  height: 51px;
  display: flex;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.HOME-dsk .group-3 {
  margin-top: 3px;
  width: 110px;
  margin-left: 32px;
  display: flex;
  gap: 46px;
}

.HOME-dsk .text-wrapper {
  width: 36px;
  height: 44px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

.HOME-dsk .sort-down-2 {
  margin-top: 13px;
  width: 26px;
  height: 19px;
}

.HOME-dsk .div-wrapper {
  position: absolute;
  top: 0;
  left: 165px;
  width: 167px;
  height: 51px;
  display: flex;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.HOME-dsk .group-4 {
  margin-top: 3px;
  width: 127.1px;
  margin-left: 26.4px;
  display: flex;
  gap: 33.4px;
}

.HOME-dsk .text-wrapper-2 {
  width: 55.6px;
  height: 44px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 44px;
}

.HOME-dsk .sort-down-3 {
  margin-top: 13px;
  width: 36.14px;
  height: 19px;
}

.HOME-dsk .group-5 {
  position: absolute;
  top: 0;
  left: 332px;
  width: 165px;
  height: 51px;
  display: flex;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.HOME-dsk .group-6 {
  margin-top: 3px;
  width: 131.27px;
  margin-left: 26.4px;
  display: flex;
  gap: 30.6px;
}

.HOME-dsk .text-wrapper-3 {
  width: 62.55px;
  height: 44px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 44px;
}

.HOME-dsk .group-7 {
  margin-left: 1.4px;
  width: 499.61px;
  height: 51px;
  position: relative;
  margin-top: 14px;
}

.HOME-dsk .rectangle-2 {
  top: 0;
  width: 498px;
  height: 51px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  left: 0;
}

.HOME-dsk .group-8 {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 165px;
  height: 51px;
  border: 1px solid;
  border-color: #000000;
}

.HOME-dsk .group-9 {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 165px;
  width: 167px;
  height: 51px;
  border: 1px solid;
  border-color: #000000;
}

.HOME-dsk .group-10 {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 332px;
  width: 165px;
  height: 51px;
  border: 1px solid;
  border-color: #000000;
}

.HOME-dsk .group-11 {
  position: absolute;
  top: 1px;
  left: 76px;
  width: 165px;
  height: 49px;
  background-color: #ffffff;
}

.HOME-dsk .group-12 {
  position: absolute;
  top: 1px;
  left: 232px;
  width: 165px;
  height: 49px;
  background-color: #ffffff;
}

.HOME-dsk .sort-down-4 {
  position: absolute;
  top: 17px;
  left: 450px;
  width: 36px;
  height: 19px;
}

.HOME-dsk .text-wrapper-4 {
  position: absolute;
  top: 3px;
  left: 170px;
  width: 175px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

.HOME-dsk .group-13 {
  width: 499.61px;
  height: 51px;
  position: relative;
  margin-top: 14px;
}

.HOME-dsk .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 498px;
  height: 51px;
  background-color: #d51f25;
  border-radius: 5px;
}

.HOME-dsk .group-14 {
  background-color: #d51f25;
  position: absolute;
  top: 0;
  left: 0;
  width: 165px;
  height: 51px;
  border: 1px solid;
  border-color: #000000;
}

.HOME-dsk .group-15 {
  background-color: #d51f25;
  position: absolute;
  top: 0;
  left: 165px;
  width: 167px;
  height: 51px;
  border: 1px solid;
  border-color: #000000;
}

.HOME-dsk .group-16 {
  background-color: #d51f25;
  position: absolute;
  top: 0;
  left: 332px;
  width: 165px;
  height: 51px;
  border: 1px solid;
  border-color: #000000;
}

.HOME-dsk .group-17 {
  position: absolute;
  top: 1px;
  left: 76px;
  width: 165px;
  height: 49px;
  background-color: #d51f25;
}

.HOME-dsk .group-18 {
  position: absolute;
  top: 1px;
  left: 232px;
  width: 165px;
  height: 49px;
  background-color: #d51f25;
}

.HOME-dsk .text-wrapper-5 {
  position: absolute;
  top: 6px;
  left: 171px;
  width: 157px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 44px;
}

.HOME-dsk .don-t-know-your {
  margin-left: 85px;
  width: 338px;
  height: 44px;
  margin-top: 12px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #dad8d8;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 44px;
}

.HOME-dsk .span {
  font-weight: 500;
}

.HOME-dsk .text-wrapper-6 {
  font-weight: 600;
}

.HOME-dsk .group-19 {
  position: absolute;
  top: 876px;
  left: 394px;
  width: 652px;
  height: 88px;
}

.HOME-dsk .group-20 {
  position: absolute;
  top: 1173px;
  left: 31px;
  width: 1424px;
  height: 298px;
}

.HOME-dsk .rectangle-4 {
  top: 2017px;
  width: 1440px;
  height: 518px;
  position: absolute;
  left: 0;
}

.HOME-dsk .ready-to-find-your {
  position: absolute;
  top: 2152px;
  left: 231px;
  width: 338px;
  height: 44px;
}

.HOME-dsk .group-21 {
  position: absolute;
  top: 2316px;
  left: 287px;
  width: 241px;
  height: 50px;
}

.HOME-dsk .group-22 {
  position: absolute;
  top: 2017px;
  left: 748px;
  width: 579px;
  height: 518px;
}

.HOME-dsk .contact-us-today-for {
  position: absolute;
  top: 2217px;
  left: 157px;
  width: 534px;
  height: 59px;
}

.HOME-dsk .brands-we-carry {
  position: absolute;
  top: 2597px;
  left: 19px;
  width: 298px;
  height: 44px;
}

.HOME-dsk .we-stock-parts-for {
  position: absolute;
  top: 2625px;
  left: 20px;
  width: 333px;
  height: 44px;
}

.HOME-dsk .group-23 {
  position: absolute;
  top: 2823px;
  left: 0;
  width: 1440px;
  height: 839px;
}

.HOME-dsk .group-24 {
  position: absolute;
  top: 3664px;
  left: 0;
  width: 1440px;
  height: 361px;
}

.HOME-dsk .group-25 {
  position: absolute;
  top: 1445px;
  left: 25px;
  width: 1391px;
  height: 539px;
}

.HOME-dsk .component {
  position: absolute;
  top: 2690px;
  left: 20px;
  width: 1410px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.HOME-dsk .group-26 {
  width: 2723px;
  height: 100px;
}

.HOME-dsk .frame {
  position: absolute;
  top: 964px;
  left: 31px;
  width: 1387px;
  height: 151px;
}

.HOME-dsk .group-27 {
  position: absolute;
  top: 701px;
  left: 23px;
  width: 1407px;
  height: 93px;
}

.HOME-dsk .phone-wrapper {
  position: absolute;
  top: 866px;
  left: 64px;
  width: 107px;
  height: 107px;
  background-color: #000000cf;
  border-radius: 53.5px;
  box-shadow: 0px 0px 3px 4px #ff000085;
}

.HOME-dsk .phone {
  position: absolute;
  width: 82.35%;
  height: 67.65%;
  top: 17.65%;
  left: 8.82%;
}

.HOME-dsk .group-28 {
  position: fixed;
  top: 0;
  left: 0;
  width: 1440px;
  height: 106px;
  display: flex;
  background-color: #000000;
}

.HOME-dsk .group-29 {
  margin-top: 10.1px;
  width: 180.74px;
  height: 84.53px;
  margin-left: 57.0px;
  background-image: url(https://c.animaapp.com/AD8xG1Ws/img/whatsapp-image-2025-12-11-at-6-58-59-pm-removebg-preview-1@2x.png);
  background-size: 100% 100%;
}

.HOME-dsk .vector {
  margin-top: 24px;
  margin-left: 10.3px;
  width: 1px;
  height: 56px;
}

.HOME-dsk .component-2 {
  margin-top: 24px;
  width: 1016px;
  height: 77px;
  display: flex;
  padding: 11px 0;
  align-items: flex-start;
  overflow: hidden;
}

.HOME-dsk .group-30 {
  width: 9136px;
  margin-left: 11px;
  display: flex;
}

.HOME-dsk .group-31 {
  width: 194px;
  height: 42px;
  position: relative;
}

.HOME-dsk .text-wrapper-7 {
  position: absolute;
  top: 15px;
  left: 26px;
  width: 142px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .rectangle-5 {
  top: 0;
  width: 192px;
  height: 42px;
  border-radius: 0px 0px 3px 0px;
  border: 1px solid;
  border-color: #d51f25;
  box-shadow: 0px 0px 4px 2px #aa191d;
  position: absolute;
  left: 0;
}

.HOME-dsk .group-32 {
  width: 194px;
  height: 42px;
  position: relative;
  margin-left: 8px;
}

.HOME-dsk .text-wrapper-8 {
  position: absolute;
  top: 16px;
  left: 25px;
  width: 140px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-9 {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 141px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-10 {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 159px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-11 {
  position: absolute;
  top: 15px;
  left: 26px;
  width: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-12 {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 162px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-13 {
  position: absolute;
  top: 16px;
  left: 12px;
  width: 168px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-14 {
  position: absolute;
  top: 15px;
  left: 21px;
  width: 150px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .group-33 {
  width: 258.55px;
  height: 42px;
  position: relative;
  margin-left: 8px;
}

.HOME-dsk .text-wrapper-15 {
  position: absolute;
  top: 16px;
  left: 33px;
  width: 193px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .rectangle-6 {
  top: 0;
  width: 257px;
  height: 42px;
  border-radius: 0px 0px 3px 0px;
  border: 1px solid;
  border-color: #d51f25;
  box-shadow: 0px 0px 4px 2px #aa191d;
  position: absolute;
  left: 0;
}

.HOME-dsk .group-34 {
  width: 258.55px;
  height: 42px;
  position: relative;
  margin-left: 8.1px;
}

.HOME-dsk .text-wrapper-16 {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 182px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .group-35 {
  width: 258.55px;
  height: 42px;
  position: relative;
  margin-left: 7.9px;
}

.HOME-dsk .text-wrapper-17 {
  top: 16px;
  left: 48px;
  width: 161px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .group-36 {
  width: 258.55px;
  height: 42px;
  position: relative;
  margin-left: 8.0px;
}

.HOME-dsk .text-wrapper-18 {
  position: absolute;
  top: 15px;
  left: 49px;
  width: 158px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-19 {
  position: absolute;
  top: 16px;
  left: 53px;
  width: 150px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-20 {
  position: absolute;
  top: 16px;
  left: 59px;
  width: 139px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-21 {
  position: absolute;
  top: 16px;
  left: 59px;
  width: 140px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .group-37 {
  width: 213.93px;
  height: 42px;
  position: relative;
  margin-left: 8.0px;
}

.HOME-dsk .text-wrapper-22 {
  position: absolute;
  top: 15px;
  left: 23px;
  width: 165px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .rectangle-7 {
  top: 0;
  width: 212px;
  height: 42px;
  border-radius: 0px 0px 3px 0px;
  border: 1px solid;
  border-color: #d51f25;
  box-shadow: 0px 0px 4px 2px #aa191d;
  position: absolute;
  left: 0;
}

.HOME-dsk .text-wrapper-23 {
  position: absolute;
  top: 16px;
  left: 32px;
  width: 148px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-24 {
  position: absolute;
  top: 16px;
  left: 28px;
  width: 156px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-25 {
  position: absolute;
  top: 16px;
  left: 35px;
  width: 143px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-26 {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 131px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-27 {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 163px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-28 {
  position: absolute;
  top: 16px;
  left: 33px;
  width: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-29 {
  position: absolute;
  top: 16px;
  left: 30px;
  width: 153px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-30 {
  position: absolute;
  top: 15px;
  left: 34px;
  width: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-31 {
  position: absolute;
  top: 16px;
  left: 34px;
  width: 189px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-32 {
  position: absolute;
  top: 16px;
  left: 56px;
  width: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-33 {
  top: 15px;
  left: 52px;
  width: 152px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-34 {
  position: absolute;
  top: 16px;
  left: 39px;
  width: 179px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-35 {
  position: absolute;
  top: 16px;
  left: 46px;
  width: 164px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-36 {
  position: absolute;
  top: 16px;
  left: 30px;
  width: 198px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-37 {
  position: absolute;
  top: 16px;
  left: 38px;
  width: 181px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-38 {
  top: 16px;
  left: 54px;
  width: 149px;
  position: absolute;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-39 {
  position: absolute;
  top: 16px;
  left: 30px;
  width: 196px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .text-wrapper-40 {
  position: absolute;
  top: 16px;
  left: 45px;
  width: 140px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.HOME-dsk .vector-2 {
  margin-top: 32px;
  margin-left: 2px;
  width: 1px;
  height: 56px;
}

.HOME-dsk .component-3 {
  margin-top: 24px;
  width: 70px;
  height: 70px;
  margin-left: 36px;
  background-image: url(https://c.animaapp.com/AD8xG1Ws/img/menu@2x.png);
  background-size: 100% 100%;
}
